{%  extends 'layout/base.html' %}
{%block title%} Home Page {% endblock%}


{%block content%} 
    <div  class='option'>
        <label for="refresh-interval-label" class='text-label'>Refresh Interval</label>
        <select id="refresh-interval">
            <option value="10" >10s</option>
            <option value="30">30s</option>
            <option value="60" selected>1m</option>
            <option value="180">3m</option>
            <option value="300">5m</option>
            <option value="600">10m</option>
        </select>
    </div>
    <div class='option'>
        <label for="timerange-label" class='text-label'>Time Range</label>
        <select id="timerange">
            <option value="1h"  data-period = "1m">Last 1h</option>
            <option value="4h"  data-period = "5m">Last 4h</option>
            <option value="6h"  data-period = "15m">Last 6h</option>
            <option value="12h" data-period = "15m" selected>Last 12h</option>
            <option value="1d" data-period = "30m">Last 24h</option>
            <option value="3d" data-period = "1h">Last 3D</option>
            <option value="1w" data-period = "4h">Last 1W</option>
            <option value="2w" data-period = "6h">Last 2W</option>
        </select>
    </div>

    <div class="flex-container" id="chart-dashboard">
        {% for chart in charts %}
            <div class="flex-item chart-canvas"  id= {{ "chart-"|string + chart.id|string}}  data-chart-id={{chart.id}}>
            </div>
        {% endfor %}
 
    </div
    

{% endblock%}