<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title%} My Page {%  endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <link href="/static/css/style.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> -->

    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    
    <script src="/static/script/my_script.js"></script>
    
</head>
<body>
    {% block header%}
        {%  include 'layout/header.html' %}
    {% endblock%}

    {% block content%}
        <h1> My Content </h1>
    {% endblock%}

    {% block footer%}
        {%  include 'layout/footer.html' %}
    {% endblock%}
</body>
</html>